---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

#### Extract Month, Day, Year in digits

In [2]:
# a = df.str.extract(r'((\d{1,2})[/-]+(\d{,2})[/-](\d{2,4}))') 
a = df.str.extract(r'(?P<Date>(?P<Month>(?:\d{1,2}))[/-]+(?P<Day>(?:\d{1,2}))[/-](?P<Year>(?:\d{4})|\d{2}))')
a

           Date Month  Day  Year
0      03/25/93    03   25    93
1       6/18/85     6   18    85
2        7/8/71     7    8    71
3       9/27/75     9   27    75
4        2/6/96     2    6    96
5       7/06/79     7   06    79
6       5/18/78     5   18    78
7      10/24/89    10   24    89
8        3/7/86     3    7    86
9       4/10/71     4   10    71
10      5/11/85     5   11    85
11      4/09/75     4   09    75
12      8/01/98     8   01    98
13      1/26/72     1   26    72
14    5/24/1990     5   24  1990
15    1/25/2011     1   25  2011
16      4/12/82     4   12    82
17   10/13/1976    10   13  1976
18      4/24/98     4   24    98
19      5/21/77     5   21    77
20      7/21/98     7   21    98
21     10/21/79    10   21    79
22      3/03/90     3   03    90
23      2/11/76     2   11    76
24   07/25/1984    07   25  1984
25      4-13-82     4   13    82
26      9/22/89     9   22    89
27      9/02/76     9   02    76
28      9/12/71     9   12    71
29     10/24/86    10   24    86
..          ...   ...  ...   ...
470         NaN   NaN  NaN   NaN
471         NaN   NaN  NaN   NaN
472         NaN   NaN  NaN   NaN
473         NaN   NaN  NaN   NaN
474         NaN   NaN  NaN   NaN
475         NaN   NaN  NaN   NaN
476         NaN   NaN  NaN   NaN
477         NaN   NaN  NaN   NaN
478         NaN   NaN  NaN   NaN
479         NaN   NaN  NaN   NaN
480         NaN   NaN  NaN   NaN
481         NaN   NaN  NaN   NaN
482         NaN   NaN  NaN   NaN
483         NaN   NaN  NaN   NaN
484         NaN   NaN  NaN   NaN
485         NaN   NaN  NaN   NaN
486         NaN   NaN  NaN   NaN
487         NaN   NaN  NaN   NaN
488         NaN   NaN  NaN   NaN
489         NaN   NaN  NaN   NaN
490         NaN   NaN  NaN   NaN
491         NaN   NaN  NaN   NaN
492         NaN   NaN  NaN   NaN
493         NaN   NaN  NaN   NaN
494         NaN   NaN  NaN   NaN
495         NaN   NaN  NaN   NaN
496         NaN   NaN  NaN   NaN
497         NaN   NaN  NaN   NaN
498         NaN   NaN  NaN   NaN
499         NaN   NaN  NaN   NaN

[500 rows x 4 columns]

#### Extract Month, Day, Year in words

In [117]:
b = df.str.extract(r'(?P<Date>(?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)(?:\w|\.)*)[ -](?P<Day>(?:\d{,2}(?:th,|st,|nd,|rd,)?))[,]?[ -](?P<Year>\d{4}))')
# month, day, year
# b = df.str.extract(r'(((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)(?:\w|\.)*)[ -](\d{,2}(?:th,|st,|nd,|rd,)*)[ -](\d{4}))')
b[b.Date.notnull()]
# b.Date.isna().sum()

                    Date       Month Day  Year
194       April 11, 1990       April  11  1990
195         May 30, 2001         May  30  2001
196         Feb 18, 1994         Feb  18  1994
197    February 18, 1981    February  18  1981
198    October. 11, 2013    October.  11  2013
199          Jan 24 1986         Jan  24  1986
200        July 26, 1978        July  26  1978
201    December 23, 1999    December  23  1999
202         May 15, 1989         May  15  1989
203   September 06, 1995   September  06  1995
204        Mar. 10, 1976        Mar.  10  1976
205         Jan 27, 1983         Jan  27  1983
206      October 23 1990     October  23  1990
207       August 12 2004      August  12  2004
208   September 01, 2012   September  01  2012
209        July 25, 1983        July  25  1983
210      August 11, 1989      August  11  1989
211       April 17, 1992       April  17  1992
212        July 24, 1999        July  24  1999
213        July 11, 1997        July  11  1997
214        Sep. 10, 1974        Sep.  10  1974
215      August 14, 1981      August  14  1981
216         Nov 11, 1988         Nov  11  1988
217        June 13, 2011        June  13  2011
218         May 14, 1989         May  14  1989
219          Dec 14 1975         Dec  14  1975
220        June 25, 2012        June  25  2012
221         Oct 18, 1980         Oct  18  1980
222         May 15, 1998         May  15  1998
223      October 14 1974     October  14  1974
224        July 25, 1998        July  25  1998
225        June 15, 1972        June  15  1972
226     January 07, 1991     January  07  1991
227  September. 15, 2011  September.  15  2011

#### Extract Day, Month, Year in words

In [143]:
c = df.str.extract(r'(?P<Date>(?P<Day>\d{1,2})?[ -]?(?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z\.]*)[ -,][ ]?(?P<Year>(?:\d{4})))')
#day, month, year
# c = df.str.extract(r'((\d{1,2})?[ -]?((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z\.]*)[ -,](\d{4}))')
c[c.Date.notnull()]

                 Date  Day      Month  Year
125       24 Jan 2001   24        Jan  2001
126       10 Sep 2004   10        Sep  2004
127       26 May 1982   26        May  1982
128      28 June 2002   28       June  2002
129       06 May 1972   06        May  1972
130       25 Oct 1987   25        Oct  1987
131       14 Oct 1996   14        Oct  1996
132       30 Nov 2007   30        Nov  2007
133      28 June 1994   28       June  1994
134       14 Jan 1981   14        Jan  1981
135       10 Oct 1985   10        Oct  1985
136  11 February 1985   11   February  1985
137       10 Feb 1983   10        Feb  1983
138       05 Feb 1992   05        Feb  1992
139       21 Oct 2012   21        Oct  2012
140       14 Feb 1995   14        Feb  1995
141       30 May 2016   30        May  2016
142       22 Jan 1996   22        Jan  1996
143       14 Oct 1992   14        Oct  1992
144       06 Oct 2003   06        Oct  2003
145       18 Oct 1999   18        Oct  1999
146       11 Nov 2004   11        Nov  2004
147       30 May 2001   30        May  2001
148       02 Feb 1978   02        Feb  1978
149       09 Sep 1989   09        Sep  1989
150     12 March 1980   12      March  1980
151      22 June 1990   22       June  1990
152       28 Sep 2015   28        Sep  2015
153       13 Jan 1972   13        Jan  1972
154       06 Mar 1974   06        Mar  1974
..                ...  ...        ...   ...
313    Decemeber 1978  NaN  Decemeber  1978
314      January 2007  NaN    January  2007
315          Jun 1976  NaN        Jun  1976
316          May 2011  NaN        May  2011
317         Mar, 1975  NaN        Mar  1975
318          Jan 1978  NaN        Jan  1978
319         July 1975  NaN       July  1975
320     November 2012  NaN   November  2012
321       2June, 1999    2       June  1999
322      October 1991  NaN    October  1991
323        March 1973  NaN      March  1973
324      October 1996  NaN    October  1996
325          Jun 2007  NaN        Jun  2007
326      October 1995  NaN    October  1995
327        April 1999  NaN      April  1999
328         May, 2001  NaN        May  2001
329       March, 2000  NaN      March  2000
330        April 1988  NaN      April  1988
331     December 1993  NaN   December  1993
332         June 1974  NaN       June  1974
333     November 1997  NaN   November  1997
334         July 1986  NaN       July  1986
335     February 1973  NaN   February  1973
336        March 1978  NaN      March  1978
337          Dec 2007  NaN        Dec  2007
338         Apr, 1998  NaN        Apr  1998
339       March, 2005  NaN      March  2005
340          May 1980  NaN        May  1980
341          Nov 2007  NaN        Nov  2007
342        March 1976  NaN      March  1976

[184 rows x 4 columns]

#### Extract only Month/ year

In [144]:
d = df.str.extract(r'(?P<Date>(?P<Month>(?:\d{1,2}))[ /,](?P<Year>(?:\d{4})))')
#month, year
# d = df.str.extract(r'((\d{1,2})[/](\d{4}))')
d = d.where(d.Month.astype(float).isin(range(1, 13)))
d[d.Date.notnull()]

        Date Month  Year
34   12/2012    12  2012
55   11/1987    11  1987
58    5/2010     5  2010
69    3/1985     3  1985
77   05/1999    05  1999
82   07/1974    07  1974
85   09/1981    09  1981
92   08/2004    08  2004
94   08/1990    08  1990
95   11/1974    11  1974
106  11/2006    11  2006
207  12 2004    12  2004
343   6/1998     6  1998
344   6/2005     6  2005
345  10/1973    10  1973
346   9/2005     9  2005
347  03/1980    03  1980
348  12/2005    12  2005
349   5/1987     5  1987
350   5/2004     5  2004
351   8/1974     8  1974
352   3/1986     3  1986
353  10/1997    10  1997
354   3/1993     3  1993
355   3/1981     3  1981
356   9/2003     9  2003
357  10/1993    10  1993
358   1/1983     1  1983
359   7/1994     7  1994
360  12/2008    12  2008
..       ...   ...   ...
425   7/2004     7  2004
426  11/1984    11  1984
427   5/2016     5  2016
428  12/2007    12  2007
429  11/1982    11  1982
430  06/1981    06  1981
431   4/2013     4  2013
432   4/1999     4  1999
433   5/2006     5  2006
434  10/1978    10  1978
435  12/1989    12  1989
436   2/1974     2  1974
437  11/1986    11  1986
438   4/1983     4  1983
439  10/2014    10  2014
440   6/1989     6  1989
441   9/1980     9  1980
442   9/1992     9  1992
443   9/2000     9  2000
444   7/1981     7  1981
445   1/2008     1  2008
446   4/2002     4  2002
447   7/1985     7  1985
448   5/2010     5  2010
449   8/2002     8  2002
450   1/1994     1  1994
451  12/2004    12  2004
452   3/2003     3  2003
453   7/1991     7  1991
454   7/1982     7  1982

[124 rows x 3 columns]

#### Extract only year

In [148]:
e = df.str.extract(r'(?P<Date>(?P<Year>(?:\d{4})))')
#year
# e = df.str.extract(r'((\d{4}))')
e = e.where(e.astype(float).isin(range(1970,2018)))
e[e.Date.notnull()]

     Date  Year
14   1990  1990
15   2011  2011
17   1976  1976
24   1984  1984
30   1985  1985
34   2012  2012
38   1986  1986
43   2002  2002
45   1998  1998
55   1987  1987
58   2010  2010
59   1982  1982
64   1994  1994
69   1985  1985
77   1999  1999
82   1974  1974
83   2000  2000
85   1981  1981
92   2004  2004
94   1990  1990
95   1974  1974
102  2002  2002
106  2006  2006
109  2011  2011
118  2006  2006
125  2001  2001
126  2004  2004
127  1982  1982
128  2002  2002
129  1972  1972
..    ...   ...
470  1983  1983
471  1999  1999
472  2010  2010
473  1975  1975
474  1972  1972
475  2015  2015
476  1989  1989
477  1994  1994
478  1993  1993
479  1996  1996
480  2013  2013
481  1974  1974
482  1990  1990
483  1995  1995
484  2004  2004
485  1987  1987
486  1973  1973
487  1992  1992
488  1977  1977
489  1985  1985
490  2007  2007
491  2009  2009
492  1986  1986
493  1978  1978
494  2002  2002
495  1979  1979
496  2006  2006
497  2008  2008
498  2005  2005
499  1980  1980

[399 rows x 2 columns]

In [149]:
## concatenate all dfs

result = pd.concat([a, b, c, d, e], axis=1, keys=['a','b','c','d','e'])

In [160]:
### helper functionto precess the year into a 4-digit format
def add_prefix(x):
    ans = x
    if len(x) == 2:
        ans = '19'+ans
    return ans

In [161]:
result.loc[:, ('a', 'Year')] = result.loc[:,('a','Year')].str.replace(r'(\d{2,4})', lambda x: add_prefix(x.groups()[0]))

In [152]:
# result.loc[:,('a','Year')] = result.loc[:,('a','Year')] .astype(float)
# result.loc[:,('b','Year')]  = result.loc[:,('b','Year')] .apply(pd.to_numeric, errors= 'ignore')
# result.loc[:,('c','Year')]  = result.loc[:,('c','Year')] .apply(pd.to_numeric, errors= 'ignore')
# result.loc[:,('d','Year')]  = result.loc[:,('d','Year')] .apply(pd.to_numeric, errors= 'ignore')
# result.loc[:,('d','Date')]  = result.loc[:,('d','Date')] .where(result.loc[:,('d','Month')] .isin(range(1, 13)))
# result.loc[:,('e','Date')]  = result.loc[:,('e','Date')] .apply(pd.to_numeric, errors= 'ignore')
# result.loc[:,('e','Date')]  = result.loc[:,('e','Date')] .where(result.loc[:,('e','Date')] .isin(range(1970, 2018)))

In [162]:
### change the year in the date in the d_df if it is different fromt the year extract from e_df
result.loc[:, ('d', 'Date')] = result.loc[:, ('d', 'Date')].where(result.loc[:, ('d','Year')]==result.loc[:,('e','Year')], result.loc[:,('d','Month')]+" "+result.loc[:, ('e','Year')])

### manage the dataframe to consider of the date column in a_df with the order the the following order. (by filling in NAN rows from the other df's)
result.loc[:, ('a', 'Date')] = result.loc[:, ('a', 'Date')].where(~result.loc[:, ('a', 'Date')].isna(), result.loc[:, ('b','Date')])
result.loc[:, ('a', 'Date')] = result.loc[:, ('a', 'Date')].where(~result.loc[:, ('a', 'Date')].isna(), result.loc[:, ('c','Date')])
result.loc[:, ('a', 'Date')] = result.loc[:, ('a', 'Date')].where(~result.loc[:, ('a', 'Date')].isna(), result.loc[:, ('d','Date')])
result.loc[:, ('a', 'Date')] = result.loc[:, ('a', 'Date')].where(~result.loc[:, ('a', 'Date')].isna(), result.loc[:, ('e','Date')])

In [163]:
### check nan counts in a.Date column
result.loc[:,('a','Date')].isna().sum()

0

In [165]:
### Two entries with wrong spelling, and one with unexpected spelling for datetime conversion

result.loc[298, ('a','Date')] = "January 1993"
result.loc[313, ('a','Date')] = "December 1978"
result.loc[321, ('a','Date')] = "2 June, 1999"

In [172]:
### convert to datetime
result.loc[:,('a','Date')] = result.loc[:,('a','Date')].apply(pd.to_datetime, errors = 'ignore')

In [173]:
### use argsort() to easily get the sorted index from datetime
result.loc[:, ('a','Date')].argsort()

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     486
16     335
17     415
18      36
19     405
20     323
21     422
22     375
23     380
24     345
25      57
26     481
27     436
28     104
29     299
      ...
470    220
471    208
472    243
473    139
474    320
475    383
476    244
477    286
478    480
479    431
480    279
481    198
482    381
483    463
484    366
485    439
486    255
487    401
488    475
489    257
490    152
491    235
492    464
493    253
494    427
495    231
496    141
497    186
498    161
499    413
Name: (a, Date), Length: 500, dtype: int64

In [174]:
import numpy as np
def date_sorter(result):
    
    # Your code here  
    return np.argsort(result.loc[:, ('a','Date')])# Your answer here

In [175]:
date_sorter(result)

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     486
16     335
17     415
18      36
19     405
20     323
21     422
22     375
23     380
24     345
25      57
26     481
27     436
28     104
29     299
      ...
470    220
471    208
472    243
473    139
474    320
475    383
476    244
477    286
478    480
479    431
480    279
481    198
482    381
483    463
484    366
485    439
486    255
487    401
488    475
489    257
490    152
491    235
492    464
493    253
494    427
495    231
496    141
497    186
498    161
499    413
Name: (a, Date), Length: 500, dtype: int64